# Data Preprocessing

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

In [2]:
# read the dataset
df = pd.read_csv('US_Accidents_Dec21_updated.csv')

In [3]:
df1=df
df.describe
df.dropna()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
42,A-43,4,2016-02-09 18:20:58,2016-02-10 00:20:58,40.451120,-85.150480,40.354290,-85.149930,6.690,Closed between IN-26 and IN-67 - Road closed d...,...,False,False,False,False,False,False,Night,Day,Day,Day
43,A-44,4,2016-02-09 18:20:58,2016-02-10 00:20:58,40.354290,-85.149930,40.451120,-85.150480,6.690,Closed between IN-67 and IN-26 - Road closed d...,...,False,False,False,False,False,False,Night,Day,Day,Day
47,A-48,4,2016-02-10 06:18:49,2016-02-10 12:18:49,40.728130,-84.789650,40.745590,-84.789620,1.206,Closed between Willshire and US-33/Rockford Rd...,...,False,False,False,False,False,False,Night,Night,Night,Day
50,A-51,2,2016-02-10 08:35:27,2016-02-10 14:35:27,41.831930,-80.101430,41.841490,-80.110990,0.824,Between Irish Rd and Blystone Rd - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
66,A-67,2,2016-02-10 12:54:39,2016-02-10 18:54:39,41.483390,-81.662970,41.476920,-81.660750,0.462,At I-490/Exit 161 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2845298,A-2845299,3,2019-08-23 16:19:21,2019-08-23 16:48:04,37.609816,-122.493720,37.608821,-122.495261,0.109,At Fassler Ave/Rockaway Beach Ave - Accident. ...,...,False,False,False,False,False,False,Day,Day,Day,Day
2845302,A-2845303,4,2019-08-23 17:25:12,2019-08-23 17:54:00,38.995930,-121.672020,39.003170,-121.662679,0.708,Closed between Yuba City and CA-99/Sawtelle Av...,...,False,False,False,False,False,False,Day,Day,Day,Day
2845303,A-2845304,4,2019-08-23 17:25:12,2019-08-23 17:54:00,39.003170,-121.662679,38.995930,-121.672020,0.708,Closed between CA-99/Sawtelle Ave and Yuba Cit...,...,False,False,False,False,False,False,Day,Day,Day,Day
2845304,A-2845305,3,2019-08-23 01:16:01,2019-08-23 01:44:53,34.121320,-117.254540,34.121320,-117.254540,0.000,At San Bernardino - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2845307,A-2845308,3,2019-08-23 10:32:30,2019-08-23 11:01:40,34.485189,-120.229276,34.482530,-120.230510,0.197,At Gaviota Roadside Rest Area - Accident. Lane...,...,False,False,False,False,False,False,Day,Day,Day,Day

In [4]:
df1

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,39.865010,-84.048730,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-3,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,39.102090,-84.523960,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-4,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,41.062170,-81.535470,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,False,Night,Night,Day,Day
4,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,At Mitchell Ave/Exit 6 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2845337,A-2845338,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.998880,-117.370940,0.543,At Market St - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
2845338,A-2845339,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.765550,-117.153630,0.338,At Camino Del Rio/Mission Center Rd - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
2845339,A-2845340,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.777400,-117.857270,0.561,At Glassell St/Grand Ave - Accident. in the ri...,...,False,False,False,False,False,False,Day,Day,Day,Day
2845340,A-2845341,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.983110,-118.395650,0.772,At CA-90/Marina Fwy/Jefferson Blvd - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
2845341,A-2845342,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.137360,-117.239340,0.537,At Highland Ave/Arden Ave - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day

In [5]:
df.columns

Index(['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'Number', 'Street',
       'Side', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [6]:

list1=[]
for i in range(0,len(df)):
    list1.append(random.randint(0,1))
df["Amenity"]=list1
df["Amenity"]=df["Amenity"].map({1: True, 0: False})


list2=[]
for i in range(0,len(df)):
    list2.append(random.randint(0,1))
df["Bump"]=list2
df["Bump"]=df["Bump"].map({1: True, 0: False})


list3=[]
for i in range(0,len(df)):
    list3.append(random.randint(0,1))
df["Crossing"]=list3
df["Crossing"]=df["Crossing"].map({1: True, 0: False})


list4=[]
for i in range(0,len(df)):
    list4.append(random.randint(0,1))
df["Give_Way"]=list4
df["Give_Way"]=df["Give_Way"].map({1: True, 0: False})


list5=[]
for i in range(0,len(df)):
    list5.append(random.randint(0,1))
df["Junction"]=list5
df["Junction"]=df["Junction"].map({1: True, 0: False})


list6=[]
for i in range(0,len(df)):
    list6.append(random.randint(0,1))
df["No_Exit"]=list6
df["No_Exit"]=df["No_Exit"].map({1: True, 0: False})


list7=[]
for i in range(0,len(df)):
    list7.append(random.randint(0,1))
df["Railway"]=list7
df["Railway"]=df["Railway"].map({1: True, 0: False})


list8=[]
for i in range(0,len(df)):
    list8.append(random.randint(0,1))
df["Roundabout"]=list8
df["Roundabout"]=df["Roundabout"].map({1: True, 0: False})


list9=[]
for i in range(0,len(df)):
    list9.append(random.randint(0,1))
df["Station"]=list9
df["Station"]=df["Station"].map({1: True, 0: False})


list10=[]
for i in range(0,len(df)):
    list10.append(random.randint(0,1))
df["Stop"]=list10
df["Stop"]=df["Stop"].map({1: True, 0: False})


list11=[]
for i in range(0,len(df)):
    list11.append(random.randint(0,1))
df["Traffic_Calming"]=list11
df["Traffic_Calming"]=df["Traffic_Calming"].map({1: True, 0: False})


list12=[]
for i in range(0,len(df)):
    list12.append(random.randint(0,1))
df["Traffic_Signal"]=list12
df["Traffic_Signal"]=df["Traffic_Signal"].map({1: True, 0: False})


list13=[]
for i in range(0,len(df)):
    list13.append(random.randint(0,1))
df["Turning_Loop"]=list13
df["Turning_Loop"]=df["Turning_Loop"].map({1: True, 0: False})

In [7]:
df

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,True,False,False,True,True,True,Night,Night,Night,Night
1,A-2,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,39.865010,-84.048730,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,True,False,False,False,True,Night,Night,Night,Night
2,A-3,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,39.102090,-84.523960,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,True,False,False,False,Night,Night,Night,Day
3,A-4,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,41.062170,-81.535470,0.123,At Dart Ave/Exit 21 - Accident.,...,True,True,False,True,True,False,Night,Night,Day,Day
4,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,At Mitchell Ave/Exit 6 - Accident.,...,True,True,True,False,False,True,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2845337,A-2845338,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.998880,-117.370940,0.543,At Market St - Accident.,...,True,True,False,False,False,True,Day,Day,Day,Day
2845338,A-2845339,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.765550,-117.153630,0.338,At Camino Del Rio/Mission Center Rd - Accident.,...,False,True,True,False,True,False,Day,Day,Day,Day
2845339,A-2845340,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.777400,-117.857270,0.561,At Glassell St/Grand Ave - Accident. in the ri...,...,False,False,True,True,False,False,Day,Day,Day,Day
2845340,A-2845341,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.983110,-118.395650,0.772,At CA-90/Marina Fwy/Jefferson Blvd - Accident.,...,True,True,True,False,True,True,Day,Day,Day,Day
2845341,A-2845342,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.137360,-117.239340,0.537,At Highland Ave/Arden Ave - Accident.,...,True,True,False,False,True,True,Day,Day,Day,Day

In [8]:
df.dropna(inplace=True)
df.isnull().sum()

ID                       0
Severity                 0
Start_Time               0
End_Time                 0
Start_Lat                0
Start_Lng                0
End_Lat                  0
End_Lng                  0
Distance(mi)             0
Description              0
Number                   0
Street                   0
Side                     0
City                     0
County                   0
State                    0
Zipcode                  0
Country                  0
Timezone                 0
Airport_Code             0
Weather_Timestamp        0
Temperature(F)           0
Wind_Chill(F)            0
Humidity(%)              0
Pressure(in)             0
Visibility(mi)           0
Wind_Direction           0
Wind_Speed(mph)          0
Precipitation(in)        0
Weather_Condition        0
Amenity                  0
Bump                     0
Crossing                 0
Give_Way                 0
Junction                 0
No_Exit                  0
Railway                  0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset           0
Civil_Twilight           0
Nautical_Twilight        0
Astronomical_Twilight    0
dtype: int64

In [9]:
df

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
42,A-43,4,2016-02-09 18:20:58,2016-02-10 00:20:58,40.451120,-85.150480,40.354290,-85.149930,6.690,Closed between IN-26 and IN-67 - Road closed d...,...,False,False,True,True,False,True,Night,Day,Day,Day
43,A-44,4,2016-02-09 18:20:58,2016-02-10 00:20:58,40.354290,-85.149930,40.451120,-85.150480,6.690,Closed between IN-67 and IN-26 - Road closed d...,...,True,True,False,True,True,True,Night,Day,Day,Day
47,A-48,4,2016-02-10 06:18:49,2016-02-10 12:18:49,40.728130,-84.789650,40.745590,-84.789620,1.206,Closed between Willshire and US-33/Rockford Rd...,...,True,False,False,True,True,False,Night,Night,Night,Day
50,A-51,2,2016-02-10 08:35:27,2016-02-10 14:35:27,41.831930,-80.101430,41.841490,-80.110990,0.824,Between Irish Rd and Blystone Rd - Accident.,...,False,True,True,True,False,True,Day,Day,Day,Day
66,A-67,2,2016-02-10 12:54:39,2016-02-10 18:54:39,41.483390,-81.662970,41.476920,-81.660750,0.462,At I-490/Exit 161 - Accident.,...,True,False,True,False,True,True,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2845298,A-2845299,3,2019-08-23 16:19:21,2019-08-23 16:48:04,37.609816,-122.493720,37.608821,-122.495261,0.109,At Fassler Ave/Rockaway Beach Ave - Accident. ...,...,True,True,True,False,False,False,Day,Day,Day,Day
2845302,A-2845303,4,2019-08-23 17:25:12,2019-08-23 17:54:00,38.995930,-121.672020,39.003170,-121.662679,0.708,Closed between Yuba City and CA-99/Sawtelle Av...,...,False,False,False,False,True,True,Day,Day,Day,Day
2845303,A-2845304,4,2019-08-23 17:25:12,2019-08-23 17:54:00,39.003170,-121.662679,38.995930,-121.672020,0.708,Closed between CA-99/Sawtelle Ave and Yuba Cit...,...,False,False,True,True,True,True,Day,Day,Day,Day
2845304,A-2845305,3,2019-08-23 01:16:01,2019-08-23 01:44:53,34.121320,-117.254540,34.121320,-117.254540,0.000,At San Bernardino - Accident.,...,True,False,True,True,False,False,Night,Night,Night,Night
2845307,A-2845308,3,2019-08-23 10:32:30,2019-08-23 11:01:40,34.485189,-120.229276,34.482530,-120.230510,0.197,At Gaviota Roadside Rest Area - Accident. Lane...,...,False,True,True,False,False,True,Day,Day,Day,Day

In [10]:
df.columns

Index(['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'Number', 'Street',
       'Side', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [11]:
WeatherIndex=[]
FeatureIndex=[]
LocationIndex=[]
AccidentIndex =[]
for i in range(1,len(df)+1):
    WeatherIndex.append("W-"+str(i))
    FeatureIndex.append("F-"+str(i))
    LocationIndex.append("L-"+str(i))
    AccidentIndex.append("A-"+str(i))
df["WeatherID"]=WeatherIndex
df["FeatureID"]=FeatureIndex
df["LocationID"]=LocationIndex
df["AccidentID"]=AccidentIndex

In [12]:
df

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,WeatherID,FeatureID,LocationID,AccidentID
42,A-43,4,2016-02-09 18:20:58,2016-02-10 00:20:58,40.451120,-85.150480,40.354290,-85.149930,6.690,Closed between IN-26 and IN-67 - Road closed d...,...,False,True,Night,Day,Day,Day,W-1,F-1,L-1,A-1
43,A-44,4,2016-02-09 18:20:58,2016-02-10 00:20:58,40.354290,-85.149930,40.451120,-85.150480,6.690,Closed between IN-67 and IN-26 - Road closed d...,...,True,True,Night,Day,Day,Day,W-2,F-2,L-2,A-2
47,A-48,4,2016-02-10 06:18:49,2016-02-10 12:18:49,40.728130,-84.789650,40.745590,-84.789620,1.206,Closed between Willshire and US-33/Rockford Rd...,...,True,False,Night,Night,Night,Day,W-3,F-3,L-3,A-3
50,A-51,2,2016-02-10 08:35:27,2016-02-10 14:35:27,41.831930,-80.101430,41.841490,-80.110990,0.824,Between Irish Rd and Blystone Rd - Accident.,...,False,True,Day,Day,Day,Day,W-4,F-4,L-4,A-4
66,A-67,2,2016-02-10 12:54:39,2016-02-10 18:54:39,41.483390,-81.662970,41.476920,-81.660750,0.462,At I-490/Exit 161 - Accident.,...,True,True,Day,Day,Day,Day,W-5,F-5,L-5,A-5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2845298,A-2845299,3,2019-08-23 16:19:21,2019-08-23 16:48:04,37.609816,-122.493720,37.608821,-122.495261,0.109,At Fassler Ave/Rockaway Beach Ave - Accident. ...,...,False,False,Day,Day,Day,Day,W-943314,F-943314,L-943314,A-943314
2845302,A-2845303,4,2019-08-23 17:25:12,2019-08-23 17:54:00,38.995930,-121.672020,39.003170,-121.662679,0.708,Closed between Yuba City and CA-99/Sawtelle Av...,...,True,True,Day,Day,Day,Day,W-943315,F-943315,L-943315,A-943315
2845303,A-2845304,4,2019-08-23 17:25:12,2019-08-23 17:54:00,39.003170,-121.662679,38.995930,-121.672020,0.708,Closed between CA-99/Sawtelle Ave and Yuba Cit...,...,True,True,Day,Day,Day,Day,W-943316,F-943316,L-943316,A-943316
2845304,A-2845305,3,2019-08-23 01:16:01,2019-08-23 01:44:53,34.121320,-117.254540,34.121320,-117.254540,0.000,At San Bernardino - Accident.,...,False,False,Night,Night,Night,Night,W-943317,F-943317,L-943317,A-943317
2845307,A-2845308,3,2019-08-23 10:32:30,2019-08-23 11:01:40,34.485189,-120.229276,34.482530,-120.230510,0.197,At Gaviota Roadside Rest Area - Accident. Lane...,...,False,True,Day,Day,Day,Day,W-943318,F-943318,L-943318,A-943318

In [13]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\somas\anaconda3\lib\site-packages (2.9.5)Note: you may need to restart the kernel to use updated packages.

In [46]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    database="Accident",
    user="postgres",
    password="root",
    port = 5432
)

In [47]:
cur = conn.cursor()

In [48]:
df.columns

Index(['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'Number', 'Street',
       'Side', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight', 'WeatherID', 'FeatureID', 'LocationID',
       'AccidentID'],
      dtype='object')

In [55]:
df_location = df[['LocationID', 'AccidentID','Number', 'Street','Side', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone','Airport_Code']]
df_feature = df[['FeatureID', 'AccidentID', 'Amenity','Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway','Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal','Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight','Astronomical_Twilight']]
df_accident = df[['AccidentID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng','End_Lat', 'End_Lng', 'Distance(mi)', 'Description']]
df_weather = df[['WeatherID', 'AccidentID', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)','Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction','Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition']]

In [56]:
df_accident = df_accident.rename(columns={'Distance(mi)': 'Distance'})

In [57]:
pip install mysql

Requirement already satisfied: mysql in c:\users\somas\anaconda3\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\somas\anaconda3\lib\site-packages (from mysql) (2.1.1)
Note: you may need to restart the kernel to use updated packages.

In [58]:
from sqlalchemy import create_engine
import MySQLdb
engine = create_engine("postgresql://postgres:root@localhost:5432/Accident")
con = engine.connect()
df_accident.to_sql(name = 'accidents', con = con, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "AccidentID" of relation "accidents" does not exist
LINE 1: INSERT INTO accidents ("AccidentID", "Severity", "Start_Time...
                               ^

[SQL: INSERT INTO accidents ("AccidentID", "Severity", "Start_Time", "End_Time", "Start_Lat", "Start_Lng", "End_Lat", "End_Lng", "Distance", "Description") VALUES (%(AccidentID)s, %(Severity)s, %(Start_Time)s, %(End_Time)s, %(Start_Lat)s, %(Start_Lng)s, %(End_Lat)s, %(End_Lng)s, %(Distance)s, %(Description)s)]
[parameters: ({'AccidentID': 'A-1', 'Severity': 4, 'Start_Time': '2016-02-09 18:20:58', 'End_Time': '2016-02-10 00:20:58', 'Start_Lat': 40.45112, 'Start_Lng': -85.15048, 'End_Lat': 40.35429, 'End_Lng': -85.14993, 'Distance': 6.69, 'Description': 'Closed between IN-26 and IN-67 - Road closed due to accident.'}, {'AccidentID': 'A-2', 'Severity': 4, 'Start_Time': '2016-02-09 18:20:58', 'End_Time': '2016-02-10 00:20:58', 'Start_Lat': 40.35429, 'Start_Lng': -85.14993, 'End_Lat': 40.45112, 'End_Lng': -85.15048, 'Distance': 6.69, 'Description': 'Closed between IN-67 and IN-26 - Road closed due to accident.'}, {'AccidentID': 'A-3', 'Severity': 4, 'Start_Time': '2016-02-10 06:18:49', 'End_Time': '2016-02-10 12:18:49', 'Start_Lat': 40.72813, 'Start_Lng': -84.78965, 'End_Lat': 40.74559, 'End_Lng': -84.78962, 'Distance': 1.206, 'Description': 'Closed between Willshire and US-33/Rockford Rd - Road closed due to accident.'}, {'AccidentID': 'A-4', 'Severity': 2, 'Start_Time': '2016-02-10 08:35:27', 'End_Time': '2016-02-10 14:35:27', 'Start_Lat': 41.83193, 'Start_Lng': -80.10143000000002, 'End_Lat': 41.84149, 'End_Lng': -80.11099, 'Distance': 0.8240000000000001, 'Description': 'Between Irish Rd and Blystone Rd - Accident.'}, {'AccidentID': 'A-5', 'Severity': 2, 'Start_Time': '2016-02-10 12:54:39', 'End_Time': '2016-02-10 18:54:39', 'Start_Lat': 41.48339, 'Start_Lng': -81.66297, 'End_Lat': 41.47692, 'End_Lng': -81.66075, 'Distance': 0.462, 'Description': 'At I-490/Exit 161 - Accident.'}, {'AccidentID': 'A-6', 'Severity': 2, 'Start_Time': '2016-02-11 07:20:03', 'End_Time': '2016-02-11 13:20:03', 'Start_Lat': 38.33667, 'Start_Lng': -81.65623000000002, 'End_Lat': 38.33614, 'End_Lng': -81.65623000000002, 'Distance': 0.037, 'Description': 'Between Smith Rd and Tennis Club Rd - Accident.'}, {'AccidentID': 'A-7', 'Severity': 2, 'Start_Time': '2016-02-11 07:20:03', 'End_Time': '2016-02-11 13:20:03', 'Start_Lat': 38.33614, 'Start_Lng': -81.65623000000002, 'End_Lat': 38.33667, 'End_Lng': -81.65623000000002, 'Distance': 0.037, 'Description': 'Between Tennis Club Rd and Smith Rd - Accident.'}, {'AccidentID': 'A-8', 'Severity': 2, 'Start_Time': '2016-02-11 13:30:58', 'End_Time': '2016-02-11 19:30:58', 'Start_Lat': 40.58919, 'Start_Lng': -80.09885, 'End_Lat': 40.58919, 'End_Lng': -80.09885, 'Distance': 0.0, 'Description': 'At I-279/Exit 72 - Accident.'}  ... displaying 10 of 943318 total bound parameter sets ...  {'AccidentID': 'A-943317', 'Severity': 3, 'Start_Time': '2019-08-23 01:16:01', 'End_Time': '2019-08-23 01:44:53', 'Start_Lat': 34.121320000000004, 'Start_Lng': -117.25454, 'End_Lat': 34.121320000000004, 'End_Lng': -117.25454, 'Distance': 0.0, 'Description': 'At San Bernardino - Accident.'}, {'AccidentID': 'A-943318', 'Severity': 3, 'Start_Time': '2019-08-23 10:32:30', 'End_Time': '2019-08-23 11:01:40', 'Start_Lat': 34.485189, 'Start_Lng': -120.229276, 'End_Lat': 34.48253, 'End_Lng': -120.23051, 'Distance': 0.1969999999999999, 'Description': 'At Gaviota Roadside Rest Area - Accident. Lane blocked.'})]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [60]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    database="Accident",
    user="postgres",
    password="root",
    port = 5432
)
cur = conn.cursor()

In [61]:
cur.execute('''CREATE TABLE Accident (
  AccidentID varchar(50) PRIMARY KEY,
  Severity int,
  Start_Time timestamp,
  End_Time timestamp,
  Start_Lat decimal(9,6),
  Start_Lng decimal(9,6),
  End_Lat decimal(9,6),
  End_Lng decimal(9,6),
  Distance decimal(10,2),
  Description varchar(255));''')
print("Table created successfully")

conn.commit()
conn.close()

Table created successfully

In [66]:
from sqlalchemy import create_engine
import MySQLdb
engine = create_engine("postgresql://postgres:root@localhost:5432/Accident")
con = engine.connect()
df_accident.to_sql(name = 'accident', con = con, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "AccidentID" of relation "accident" does not exist
LINE 1: INSERT INTO accident ("AccidentID", "Severity", "Start_Time"...
                              ^

[SQL: INSERT INTO accident ("AccidentID", "Severity", "Start_Time", "End_Time", "Start_Lat", "Start_Lng", "End_Lat", "End_Lng", "Distance", "Description") VALUES (%(AccidentID)s, %(Severity)s, %(Start_Time)s, %(End_Time)s, %(Start_Lat)s, %(Start_Lng)s, %(End_Lat)s, %(End_Lng)s, %(Distance)s, %(Description)s)]
[parameters: ({'AccidentID': 'A-1', 'Severity': 4, 'Start_Time': '2016-02-09 18:20:58', 'End_Time': '2016-02-10 00:20:58', 'Start_Lat': 40.45112, 'Start_Lng': -85.15048, 'End_Lat': 40.35429, 'End_Lng': -85.14993, 'Distance': 6.69, 'Description': 'Closed between IN-26 and IN-67 - Road closed due to accident.'}, {'AccidentID': 'A-2', 'Severity': 4, 'Start_Time': '2016-02-09 18:20:58', 'End_Time': '2016-02-10 00:20:58', 'Start_Lat': 40.35429, 'Start_Lng': -85.14993, 'End_Lat': 40.45112, 'End_Lng': -85.15048, 'Distance': 6.69, 'Description': 'Closed between IN-67 and IN-26 - Road closed due to accident.'}, {'AccidentID': 'A-3', 'Severity': 4, 'Start_Time': '2016-02-10 06:18:49', 'End_Time': '2016-02-10 12:18:49', 'Start_Lat': 40.72813, 'Start_Lng': -84.78965, 'End_Lat': 40.74559, 'End_Lng': -84.78962, 'Distance': 1.206, 'Description': 'Closed between Willshire and US-33/Rockford Rd - Road closed due to accident.'}, {'AccidentID': 'A-4', 'Severity': 2, 'Start_Time': '2016-02-10 08:35:27', 'End_Time': '2016-02-10 14:35:27', 'Start_Lat': 41.83193, 'Start_Lng': -80.10143000000002, 'End_Lat': 41.84149, 'End_Lng': -80.11099, 'Distance': 0.8240000000000001, 'Description': 'Between Irish Rd and Blystone Rd - Accident.'}, {'AccidentID': 'A-5', 'Severity': 2, 'Start_Time': '2016-02-10 12:54:39', 'End_Time': '2016-02-10 18:54:39', 'Start_Lat': 41.48339, 'Start_Lng': -81.66297, 'End_Lat': 41.47692, 'End_Lng': -81.66075, 'Distance': 0.462, 'Description': 'At I-490/Exit 161 - Accident.'}, {'AccidentID': 'A-6', 'Severity': 2, 'Start_Time': '2016-02-11 07:20:03', 'End_Time': '2016-02-11 13:20:03', 'Start_Lat': 38.33667, 'Start_Lng': -81.65623000000002, 'End_Lat': 38.33614, 'End_Lng': -81.65623000000002, 'Distance': 0.037, 'Description': 'Between Smith Rd and Tennis Club Rd - Accident.'}, {'AccidentID': 'A-7', 'Severity': 2, 'Start_Time': '2016-02-11 07:20:03', 'End_Time': '2016-02-11 13:20:03', 'Start_Lat': 38.33614, 'Start_Lng': -81.65623000000002, 'End_Lat': 38.33667, 'End_Lng': -81.65623000000002, 'Distance': 0.037, 'Description': 'Between Tennis Club Rd and Smith Rd - Accident.'}, {'AccidentID': 'A-8', 'Severity': 2, 'Start_Time': '2016-02-11 13:30:58', 'End_Time': '2016-02-11 19:30:58', 'Start_Lat': 40.58919, 'Start_Lng': -80.09885, 'End_Lat': 40.58919, 'End_Lng': -80.09885, 'Distance': 0.0, 'Description': 'At I-279/Exit 72 - Accident.'}  ... displaying 10 of 943318 total bound parameter sets ...  {'AccidentID': 'A-943317', 'Severity': 3, 'Start_Time': '2019-08-23 01:16:01', 'End_Time': '2019-08-23 01:44:53', 'Start_Lat': 34.121320000000004, 'Start_Lng': -117.25454, 'End_Lat': 34.121320000000004, 'End_Lng': -117.25454, 'Distance': 0.0, 'Description': 'At San Bernardino - Accident.'}, {'AccidentID': 'A-943318', 'Severity': 3, 'Start_Time': '2019-08-23 10:32:30', 'End_Time': '2019-08-23 11:01:40', 'Start_Lat': 34.485189, 'Start_Lng': -120.229276, 'End_Lat': 34.48253, 'End_Lng': -120.23051, 'Distance': 0.1969999999999999, 'Description': 'At Gaviota Roadside Rest Area - Accident. Lane blocked.'})]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [64]:
import pandas as pd
from sqlalchemy import create_engine

# Create a sample DataFrame
# Connect to the PostgreSQL database
engine = create_engine("postgresql://postgres:root@localhost:5432/Accident")

# Load data into a new table in the database
df_accident.to_sql('accident', engine, if_exists='append', index=False)

# Close the database connection
engine.dispose()

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "AccidentID" of relation "accident" does not exist
LINE 1: INSERT INTO accident ("AccidentID", "Severity", "Start_Time"...
                              ^

[SQL: INSERT INTO accident ("AccidentID", "Severity", "Start_Time", "End_Time", "Start_Lat", "Start_Lng", "End_Lat", "End_Lng", "Distance", "Description") VALUES (%(AccidentID)s, %(Severity)s, %(Start_Time)s, %(End_Time)s, %(Start_Lat)s, %(Start_Lng)s, %(End_Lat)s, %(End_Lng)s, %(Distance)s, %(Description)s)]
[parameters: ({'AccidentID': 'A-1', 'Severity': 4, 'Start_Time': '2016-02-09 18:20:58', 'End_Time': '2016-02-10 00:20:58', 'Start_Lat': 40.45112, 'Start_Lng': -85.15048, 'End_Lat': 40.35429, 'End_Lng': -85.14993, 'Distance': 6.69, 'Description': 'Closed between IN-26 and IN-67 - Road closed due to accident.'}, {'AccidentID': 'A-2', 'Severity': 4, 'Start_Time': '2016-02-09 18:20:58', 'End_Time': '2016-02-10 00:20:58', 'Start_Lat': 40.35429, 'Start_Lng': -85.14993, 'End_Lat': 40.45112, 'End_Lng': -85.15048, 'Distance': 6.69, 'Description': 'Closed between IN-67 and IN-26 - Road closed due to accident.'}, {'AccidentID': 'A-3', 'Severity': 4, 'Start_Time': '2016-02-10 06:18:49', 'End_Time': '2016-02-10 12:18:49', 'Start_Lat': 40.72813, 'Start_Lng': -84.78965, 'End_Lat': 40.74559, 'End_Lng': -84.78962, 'Distance': 1.206, 'Description': 'Closed between Willshire and US-33/Rockford Rd - Road closed due to accident.'}, {'AccidentID': 'A-4', 'Severity': 2, 'Start_Time': '2016-02-10 08:35:27', 'End_Time': '2016-02-10 14:35:27', 'Start_Lat': 41.83193, 'Start_Lng': -80.10143000000002, 'End_Lat': 41.84149, 'End_Lng': -80.11099, 'Distance': 0.8240000000000001, 'Description': 'Between Irish Rd and Blystone Rd - Accident.'}, {'AccidentID': 'A-5', 'Severity': 2, 'Start_Time': '2016-02-10 12:54:39', 'End_Time': '2016-02-10 18:54:39', 'Start_Lat': 41.48339, 'Start_Lng': -81.66297, 'End_Lat': 41.47692, 'End_Lng': -81.66075, 'Distance': 0.462, 'Description': 'At I-490/Exit 161 - Accident.'}, {'AccidentID': 'A-6', 'Severity': 2, 'Start_Time': '2016-02-11 07:20:03', 'End_Time': '2016-02-11 13:20:03', 'Start_Lat': 38.33667, 'Start_Lng': -81.65623000000002, 'End_Lat': 38.33614, 'End_Lng': -81.65623000000002, 'Distance': 0.037, 'Description': 'Between Smith Rd and Tennis Club Rd - Accident.'}, {'AccidentID': 'A-7', 'Severity': 2, 'Start_Time': '2016-02-11 07:20:03', 'End_Time': '2016-02-11 13:20:03', 'Start_Lat': 38.33614, 'Start_Lng': -81.65623000000002, 'End_Lat': 38.33667, 'End_Lng': -81.65623000000002, 'Distance': 0.037, 'Description': 'Between Tennis Club Rd and Smith Rd - Accident.'}, {'AccidentID': 'A-8', 'Severity': 2, 'Start_Time': '2016-02-11 13:30:58', 'End_Time': '2016-02-11 19:30:58', 'Start_Lat': 40.58919, 'Start_Lng': -80.09885, 'End_Lat': 40.58919, 'End_Lng': -80.09885, 'Distance': 0.0, 'Description': 'At I-279/Exit 72 - Accident.'}  ... displaying 10 of 943318 total bound parameter sets ...  {'AccidentID': 'A-943317', 'Severity': 3, 'Start_Time': '2019-08-23 01:16:01', 'End_Time': '2019-08-23 01:44:53', 'Start_Lat': 34.121320000000004, 'Start_Lng': -117.25454, 'End_Lat': 34.121320000000004, 'End_Lng': -117.25454, 'Distance': 0.0, 'Description': 'At San Bernardino - Accident.'}, {'AccidentID': 'A-943318', 'Severity': 3, 'Start_Time': '2019-08-23 10:32:30', 'End_Time': '2019-08-23 11:01:40', 'Start_Lat': 34.485189, 'Start_Lng': -120.229276, 'End_Lat': 34.48253, 'End_Lng': -120.23051, 'Distance': 0.1969999999999999, 'Description': 'At Gaviota Roadside Rest Area - Accident. Lane blocked.'})]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [65]:
df_accident.to_excel('accidenttable.xlsx', sheet_name='Sheet1', index=False)